body {
    width: 400px; /* adjust as needed */
}

#app > div > div > div:last-child > div:nth-child(3) {
    display: none;
}

#app > div > div > div:last-child > div:nth-child(4) {
    display: none;
}

.cyber-link {
    display: none;
}
